server {
    listen {{port_number}};
    server_name {{domain_static}};
    root  {{document_root_static}};
    index index.html;
    deny all;

     # add this line (HEAD is implicit - it's a just special case of GET)
    limit_except GET POST PUT DELETE{ deny  all; }
}