server {
    listen {{port_number}};
    server_name {{domain_static}};
    root  {{document_root_static}};
    index index.html;


    # server or location context asset
    location ~* \.(js|jpg|png|css)$ {
        limit_except GET POST PUT DELETE {
            # limit_except context
            allow 192.168.1.1/24;
            deny all;
        }
    }
    

}