# cat default
upstream php-laravel {
    server 127.0.0.1:9000;
}

server {
    
    # Basic server directives
    listen       {{port_number}};
    listen  [::]:{{port_number}};
    server_name  {{domain}};
    root {{document_root}};
    index index.php;
    charset utf-8;
    sendfile off;
    client_max_body_size 100m;

    # add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";
    add_header X-Powered-By "UQU Portal Team";
    add_header X-Platform "UQU EvoCMS Portal"
    add_header Content-Security-Policy "default-src 'self' *.uqu.edu.sa *.google.com *.googleapis.com *.google-analytics.com *.gstatic.com *.youtube.com *.twitter.com 'unsafe-inline' 'unsafe-eval' https:; img-src 'self' *.uqu.edu.sa *.google-analytics.com *.google.com *.gstatic.com *.googleapis.com *.twimg.com *.flagcounter.com data: blob: https:"
    #add_header Access-Control-Allow-Origin "https://uqu.edu.sa"
    add_header Strict-Transport-Security "max-age=63072000"
    #add_header "allow-from https://*.uqu.edu.sa/"


    # Error page management
    error_page 404 500 502 503 504 /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    # Try to serve full URI if exists otherwise default to 'index.php'
    charset utf-8;
 
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
    # Specify what happens when PHP files are requested
    location ~* \.php$ {
        include fastcgi_params;
        fastcgi_pass php-laravel;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
    }

    # Specify the details of favicon.ico
    location = /favicon.ico { access_log off; log_not_found off; }

    # Specify the details of robots.txt
    location = /robots.txt  { access_log off; log_not_found off; }

    # Specify what happens what .ht files are requested
    location ~ /\.ht {
        deny all;
    }
}